---
import Navbar from '../components/navbar.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="UniendoCuidadores">
	<main>
		<Navbar />
		<h1 class="">asda</h1>
		<p>asdasd</p>

	</main>
</Layout>
